<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>

    <ul class="list-group">
      {{#if isSubReady "myItems"}}
        
        {{#each items}}
          <li class="list-group-item">{{ name }} <span class="label label-default">{{ rating }}</span><a href="{{ urlFor  'dashboard/:postId' postId=_id }}" class="">Link
          </a></li>
        {{/each}}
      {{else}}
        {{> loading}}
      {{/if}}
    </ul>

  </div>
</template>
